{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag()}}
        <div class="col-auto mb-3">
            {{ form.password.label }}
            {{ form.password(class="form-control", type="password", maxlength="512") }}
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div class="col-auto mb-3">
            <p>
                Вы уверены, что хотите удалить свой аккаунт? Это действие невозможно отменить!
            </p>
            <a href="/user_page/{{ current_user.id }}?sorted_by={{ sorted_by }}" class="btn btn-primary">Нет</a>
            {{ form.submit(type="submit", class="btn btn-outline-danger") }}
        </div>
        <div class="alert {{ message_class }}" role="alert">{{ message }}</div>
    </form>
{% endblock %}
